<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nabava.Properties.Settings.nhuzjak20_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=nhuzjak20_DB;Persist Security Info=True;User ID=nhuzjak20;Password=&quot;C!79Do+;&quot;"
            providerName="System.Data.SqlClient" />
        <add name="Nabava.Properties.Settings.huzjaknikola_bazaConnectionString"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=huzjaknikola_baza;User ID=huzjaknikola_baza;Password=nikola55"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>